.homebackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
  position: fixed;
}

 .home-body {
  font-family: Helvetica, Arial, sans-serif;
}

/* .home-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  top: 15px;
  left: 0;
  right: 0;
}

.home-logo {
  margin-left: 120px;
  margin-top: -40px;
  width: 150px;
} */

/* .home-login {
  margin-top: -60px;
  margin-right: 150px;
  text-decoration: none;
  color: white;
  background-color: rgb(229, 9, 20);
  border-radius: 5px;
  padding: 7px 17px;
  font-size: 16px;
  font-weight: 400px;
} */

.home-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 5em;
  z-index: 2;
  color: white;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  margin-top: -10%;
}

.home-text > h1 {
  font-size: 50px;
  /* margin-top: -90px; */
  width: 600px;
}


.home-text > h2:nth-child(2) {
  font-size: 2rem;
    margin: 1rem auto;
}

.home-text > h2:nth-child(3) {
  font-size: 1.3rem;
    margin: 1rem auto;
}


.home-email-submit {
  padding: 0 30px;
  height: 65px;
  color: white;
  background-color: #df000b;
  width: 185px;
  border: none;
  outline: none;
  margin-top: 1px;  
  font-size: 20px;
}

.home-email-input {
  min-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  width: 90%;
  line-height: 55px;
  font-size: 17px;
  text-indent: 15px;
  height: 60px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.home-email-input:focus {
  outline: none !important;
}

.home-email-input:focus ~ .email-label,
.home-email-input:valid ~ .email-label {
  margin-top: 5px;
  left: 100px;
  font-size: 12px;
  opacity: 1;
}

.email-label {
  position: absolute;
  pointer-events: none;
  margin-top: 26px;
  left: 90px;
  transition: 0.2s ease all;
  color: gray;
}

.home-form {
  display: flex;
}

.home-links {
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 40px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.7);
}

.home-links > a {
  text-decoration: none;
  color: white;
}

.home-header {
  position: relative;
  height: 15%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
} 

.home-logo {
  height: 150px;
}

.home-login {
  background-color: #f8000c;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.home-email-submit:hover {
  cursor: pointer;
  background-color: #f8000c;
}

@media(max-width:855px) {
  .home-text {
    padding: 0px;
  }

  .email-label {
    margin-top: 20px;
    left: 15px;
  }

  .home-email-input:focus ~ .email-label,
  .home-email-input:valid ~ .email-label {
    left: 15px;
  }
}

@media(max-width:720px) {
  .home-text {
    top: 40%;
  }

  .home-text > h1 {
    font-size: 1.75rem;
    width: 500px;
  }

  .home-text > h2:nth-child(2) {
    font-size: 1.125rem;
  }

  .home-text > h2:nth-child(3) {
    font-size: 1.125rem;
  }

  .home-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-email-input {
    height: 48px;
  }

  .home-email-input {
    min-width: 480px;
  }

  .home-email-submit {
    margin-top: 10px;
    height: 50px;
  } 
}

/* .home-body {
  height: 100vh;
}

.homebackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(45%);
  position: fixed;
} 

.home-header {
  position: relative;
  height: 15%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
} 

.home-logo {
  height: 150px;
}

.home-login {
  background-color: #f8000c;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.home-text {
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.home-text > h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: unset;
  max-width: 800px;
  margin: 0 auto;
}

.home-text > h2 {
  font-size: 1.625rem;
  font-weight: unset;
  max-width: 100%;
  margin: 1rem auto;
}

.home-text > h1, .home-text > h2 {
  color: white;
}

.home-email-submit {
  padding: 0 30px;
  height: 68px;
  color: white;
  background-color: #df000b;
  width: 180px;
  border: none;
  outline: none;
  font-size: 20px;
  vertical-align: bottom;
}

.home-email-submit:hover {
  cursor: pointer;
  background-color: #f8000c;
}

.home-email-input {
  min-width: 500px;
  font-size: 18px;
  height: 55px;
  padding: 10px 10px 0px;
  position: relative;
  vertical-align: baseline;
  align-items: baseline;
  bottom: 0;
}

.home-email-input:focus {
  outline: none !important;
}

.home-email-input:focus ~ .email-label,
.home-email-input:valid ~ .email-label {
  margin-top: 5px;
  left: 30px;
  font-size: 12px;
  opacity: 1;
}

.email-label {
  position: absolute;
  pointer-events: none;
  margin-top: 25px;
  left: 30px;
  transition: 0.2s ease all;
  color: gray;
} */

