/* .mylist-container {
  color: white;
  height: vmax;
  position: absolute;
  margin-top: 300px;
}

.mylist-container {
  font-size: 24px;
}

.mylist-video-container {
  width: 100%;
  display: flex;
  margin: 0px 7px;
} */

.my-list {
  position: absolute;
  padding: 120px 0 0 0;
}