.profile-logo {
  max-height: 30px;
  max-width: 30px;
  margin-right: 5px;
  margin-left: 15px;
	border-radius: 5px;
}

.search-form > input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
	font-family: inherit;
}
.search-form > input::-webkit-search-decoration,
.search-form > input::-webkit-search-cancel-button {
	color: white; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	width: 50px;
	color: white;

	-webkit-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 100px;
	background-color: transparent;
	border-color: white;
	color: white;
}

.search-form input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.search-form input[type=search]:focus {
	width: 200px;
	padding-left: 32px;
	color: white;
	border: 1px solid white;
	background-color: transparent;
	cursor: auto;
}

.search-form:focus input::-webkit-input-placeholder {
	color: transparent;
}


.triangle-dd {
	width: 0px;
	height: 0px;
	border: 5px solid white;
	border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  border-left-color: transparent;
	
}

.right-nav {
	display: flex;
	align-items: center;
}

nav {
  font-family: sans-serif;
  text-align: center;
}

nav ul,
nav li {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav div {
  text-decoration: none;
  color: white;
}

nav div:hover {
  cursor: pointer;
}

nav>ul {
  display: flex;
  justify-content: center;
}

nav>ul>li {
  position: relative;
}

nav>ul>li>div {
  display: flex;
	align-items: center;
	margin-right: 50px;
}

nav>ul>li>ul {
  display: none;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px;
}

nav>ul>li>ul>li>input {
  display: block;
  padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.5);

  border-bottom: 1px solid darkgray;
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

nav>ul>li>ul:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
  width: 0;
  height: 0;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

nav>ul>li:hover>ul {
  display: block;
}