.session-homebackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
  position: fixed;
}

.session-body {
  font-family: Helvetica, Arial, sans-serif;
}

.session-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 68px 75px 68px;
  z-index: 2;
  color: white;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  margin-bottom: 10px;
  height: 55%;
  width: 25%;
}

.session-form > h1 {
  width: 300px;
  font-size: 35px;
  font-family: helvetica;
}

.bottom-form {
  margin-top: 15px;
  font-size: 16px;
  display: flex;
}

.bottom-form > a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.bottom-form > p {
  font-weight: normal;
  color: gray;
}

.login-errors {
  background-color: #e87c03;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: lighter;
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 241px;
}

.session-header {
  position: absolute;
  top: 15px;
  margin-left: 15px;
}


.session-inputs > input:last-child {
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  margin-bottom: 15px;
  width: 100%;
  background: rgb(229, 9, 20);
  padding: 16px;
}

.session-inputs > label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10px;
}

.email-input {
  margin-top: 10px;
  outline: none;
  padding: 16px 20px 0px 20px;
  background-color: rgb(51, 51, 51);
  color: white;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 280px;
  font-size: 20px;
}

.session-float {
  position: absolute;
  z-index: 10;
  color: #767676;
  left: 20px;
  top: 25px;
  font-size: 20px;
  cursor: text;
  transition: 0.2s ease all;
  color: gray;
}

.email-input:focus + .session-float,
input:not([value=""]) + .session-float{
  transform: scale(.90);
  font-size: 15px;
  top: 11px;
}

.session-logo {
  height: 150px;
  margin-top: -40px;
  margin-left: 40px;
}

.password-input {
  margin-top: -30px;
  outline: none;
  padding: 16px 20px 0px 20px;
  background-color: rgb(51, 51, 51);
  color: white;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 280px;
}


.password-input:focus-within + .password-float,
input:not([value=""]) + .password-float {
  transform: scale(.9);
  font-size: 15px;
  top: -30px;
}


.password-float {
  position: absolute;
  z-index: 10;
  color: #767676;
  left: 20px;
  top: -15px;
  font-size: 16px;
  cursor: text;
  font-size: 20px;
  transition: 0.2s ease all;
}
