 .signup-back {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
}

.signup-form-box {
  top: 440px;
  left: 50%;
  /* margin-right: -50%; */
  transform: translate(-50%, -50%);
  width: 450px;
  height: 600px;
  position: absolute;
  border-radius: 7px;
  color: black;
  /* margin-left: -45px; */
}

.signup-form {
  /* margin-left: 50px;
    margin-top: 10%; */
}

.form-demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-submit {
  background-color: #e50914;
  color: white;
}
.signup-logo {
  position: absolute;
  z-index: 1;
  width: 165px;
  height: 100px;
  margin-left: 40px;
}
.signup-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 90px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid lightgray;
}

.signup-text h2 {
  font-size: 24px;
  width: 500px;
}

.signup-text p {
  font-size: 21px;
  margin: 8px 0px;
}

.session-header-signin {
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid #e6e6e6;
}
.signup-input input {
  width: 480px;
  height: 60px;
  margin-bottom: 15px;
  font-size: 18px;
}

.signin-session-login {
  text-decoration: none;
  color: rgb(51, 51, 51);
  margin-right: 50px;
  font-weight: bolder;
  font-size: larger;
  margin-top: 30px;
}

.signup-form input[type=submit] {
  width: 480px;
  height: 50px;
  border: none;
  font-size: 17px;
  margin-top: -5px;
  border-radius: 2px;
  cursor: pointer;
}

.signup-container {
  height: 100vh;
  background: white;
} 


.demo-btn {
  width: 480px;
  height: 50px;
  background-color: rgb(37, 37, 245);
  border-radius: 2px;
  color: white;
  font-weight: none;
  border: none;
  outline: none;
  font-size: 19px;
    z-index: 333;
    cursor: pointer;
    position: relative;
    top: 375px;
    left: 15px;
}

@media(max-width: 570px) {
  .form-demo-container {
    text-align: center;
  }
  .signup-input input {
  width: 80vw;
  }

  .demo-btn {
    position: relative;
    width: 80vw;
    left: 0px;
  }

  .signup-form input[type=submit] {
  width: 80vw;
}
}